<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载properties配置文件-->
    <context:property-placeholder location="classpath:spring.properties"/>
    <!--使用指定的构造器初始化指定bean-->
    <bean id="UtilTcpClientServiceImpl" class="com.liu.logmsgreplay.rpc.serviceimpl.UtilTcpClientServiceImpl">
        <constructor-arg name="dstIp" value="${tcp.server.ip}"/>
        <constructor-arg name="dstPort" value="${tcp.server.port}"/>
        <constructor-arg name="poolSize" value="${tcp.client.poolsize}"/>
    </bean>

    <bean id="ServiceRegistry" class="com.liu.logmsgcommon.rpc.registry.ServiceRegistry">
        <constructor-arg name="zookeeperAddress" value="${zookeeper.address}"/>
    </bean>

    <bean id="RpcServer" class="com.liu.logmsgcommon.rpc.server.RpcServer">
        <constructor-arg name="serviceRegistry" index="0" ref="ServiceRegistry"/>
        <constructor-arg name="serverAddressIp" index="1" type="String" value="${server.address.ip}"/>
        <constructor-arg name="serverAddressPort" index="2" type="int" value="${server.address.port}"/>
    </bean>
</beans>